@import 'styles/variables.scss';

.layout__game {
  width: 100%;
  height: 100vh;
  display: flex;
  background: $secondary-silwer;
  justify-content: center;
  align-items: center;
  position: relative;

  .game__menu {
    position: fixed;
    right: 0;
    height: 100%;
    width: 376px;
  }
}