$primary-orange: #E87928;
$secondary-orange: #FF8B37;
$light-primary-orange: #FFAC70;
$light-secondary-orange: #FFF3EB;
$primary-green: #47D867;
$secondary-green: #E6FAEA;
$primary-red: #EC6259;
$secondary-red: #FDEEED;
$primary-black: #1C1C21;
$primary-silwer: #D0D0D8;
$secondary-silwer: #F5F5F7;
$primary-white: #FFFFFF;

$fontFamily: 'Inter', sans-serif;
